// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
//  @import '~bootstrap/scss/bootstrap';

//  Bulma
@import "~bulma/bulma.sass";

/*
  Custom Sytyle
 */

.custom-card {
  height: 520px;
}
.custom-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/barbecue-hero.jpg");
  background-size: cover;
}
