<template>
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <div class="panel">
                    <p class="panel-heading">Establecer su Ubicación</p>
                    <div class="box">
                        <g-map @onSetCoordinates="setCoordinates"></g-map>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="panel">
                    <p class="panel-heading">Agregar Barbacoa</p>
                    <div class="box">
                        <b-field label="Nombre">
                            <b-input v-model="name"></b-input>
                        </b-field>
                        <b-field label="Descripción">
                            <b-input maxlength="200" type="textarea" v-model="description"></b-input>
                        </b-field>
                        <div class="columns">
                            <div class="column is-6">
                                <b-field>
                                    <b-upload v-model="image" drag-drop>
                                        <section class="section">
                                            <div class="content has-text-centered">
                                                <p>
                                                    <b-icon icon="upload" size="is-medium"></b-icon>
                                                </p>
                                                <p>Suelte sus archivos aquí o haga clic para subir</p>
                                            </div>
                                        </section>
                                    </b-upload>
                                </b-field>
                            </div>
                            <div class="column is-6">
                                <div class="tags" v-if="image">
                                    <span class="tag is-warning">{{ image.name }}</span>
                                </div>
                            </div>
                        </div>
                        <b-field style="margin-top: 15px">
                            <button class="button is-dark" @click="submit">Agregar</button>
                        </b-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import 'buefy/dist/buefy.css';
    import GMap from './GMapComponent';

    export default {
        components: {
            GMap
        },
        data() {
            return {
                name: '',
                description: '',
                image: null,
                coordinates: ''
            }
        },
        methods: {
            async submit() {
                try {
                    let formData = new FormData();
                    formData.append('name', this.name);
                    formData.append('description', this.description);
                    formData.append('image', this.image);
                    formData.append('coordinates', this.coordinates);

                    await window.axios.post('/barbecues', formData);
                    this.$dialog.alert({
                        type: 'is-info',
                        title: 'Reservación',
                        message: 'Felicidades, barbacoa agregada',
                        onConfirm: () => window.location.href = '/'
                    });
                }
                catch (e) {
                    this.$dialog.alert({
                        type: 'is-danger',
                        title: 'Reservación',
                        message: 'Lo Sentimos, ha ocurrido un problema...'
                    });
                }
            },
            setCoordinates(latLng) {
                this.coordinates = `${latLng.lat}, ${latLng.lng}`;
            }
        }
    }
</script>
