<template>
    <div class="container">
        <div class="box">
            <div class="columns">
                <div class="column is-3">
                    <div class="field">
                        <div class="control">
                            <div class="select is-info">
                                <select v-model="meters">
                                    <option disabled value="">Seleccione un rango</option>
                                    <option v-for="item in distance" :value="item.value">{{ item.text }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <button class="button is-info" @click="search">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-grid" v-if="flagCenter">
            <div class="card custom-grid-item" v-for="(item, index) in barbecues" :key="index">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img :src="item.image" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="images/user.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">
                                <a class="has-text-dark" :href="getUrl(item.id)">
                                    {{ item.name }}
                                </a>
                            </p>
                            <p class="subtitle is-6">{{ item.distance }} KM</p>
                        </div>
                    </div>
                </div>
            </div>

            <infinite-loading @infinite="infiniteHandler"></infinite-loading>

        </div>
    </div>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';
    export default {
        components: {
            InfiniteLoading
        },
        props: ['routeAvailable', 'routeBarbecue'],
        data() {
            return {
                flagCenter: false,
                center: '',
                meters: 25000,
                distance: [
                    { text: '5KM', value: 5000 },
                    { text: '10KM', value: 10000 },
                    { text: '15KM', value: 15000 },
                    { text: '20KM', value: 20000 },
                    { text: '25KM', value: 25000 },
                ],
                barbecues: [],
                page: 1,
            }
        },
        mounted() {
            this.geolocate();
        },
        methods: {
            infiniteHandler() {
                this.page++;
                this.getData();
            },
            async getData() {
                try {
                    let response = await window.axios.get(this.routeAvailable, {
                       params: {
                           page: this.page,
                           ubication: this.center,
                           meters: this.meters
                       }
                    });
                    let data = response.data.data;
                    if(data.length) {
                        this.barbecues = this.barbecues.concat(data);
                    } else {
                        //  infinite-loading-container
                    }
                }
                catch (e) {
                    this.$dialog.alert({
                        type: 'is-danger',
                        title: 'Reservación',
                        message: 'Lo Sentimos, ha ocurrido un problema...'
                    });
                }
            },
            search() {
                this.barbecues = [];
                this.page = 1;
                this.getData();
            },
            geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = `${position.coords.longitude}, ${position.coords.latitude}`;
                    this.flagCenter = true;
                    this.getData();
                });
            },
            getUrl(id) {
                return `${this.routeBarbecue}/${id}`;
            }
        }
    }
</script>

<style>
    .custom-grid {
        display: flex;
        flex-wrap: wrap;
    }
    .custom-grid-item {
        width: 25%;
        padding: 1% 0 0;
    }
</style>
