<template>
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="field">
                    <gmap-autocomplete @place_changed="setPlace" style="width: 100%; height: 35px"></gmap-autocomplete>
                </div>
                <div class="field">
                    <button class="button is-info" @click="addMarker">Buscar</button>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <gmap-map 
                    ref="mapRef"
                    :center="center" 
                    :zoom="14" 
                    @click="touch" 
                    style="width:100%;  height: 425px;">
                    <gmap-marker
                            :key="index"
                            v-for="(m, index) in markers"
                            :position="m.position"
                            @click="center=m.position">
                    </gmap-marker>
                </gmap-map>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'GMap',
        data() {
            return {
                //  Albrook Mall
                center: { lat: 8.974741, lng: -79.552855 },
                markers: [],
                places: [],
                currentPlace: null
            };
        },

        mounted() {
            this.geolocate();
        },

        methods: {
            setPlace(place) {
                this.currentPlace = place;
            },
            addMarker() {
                if (this.currentPlace) {
                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng()
                    };
                    
                    this.places.push(this.currentPlace);
                    this.center = marker;
                    this.currentPlace = null;
                }
            },
            geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });
            },
            touch(event) {
                const marker = {
                    lat: event.latLng.lat(),
                    lng: event.latLng.lng()
                };

                this.$emit('onSetCoordinates', marker);

                this.markers = [];
                this.markers.push({ position: marker });
            }
        }
    }
</script>
