<template>
    <div class="container">
        <div class="panel">
            <p class="panel-heading">Reservar Barbacoa</p>
            <div class="box">
                <div class="columns">
                    <div class="column is-4">
                        <b-field label="Seleccione el día">
                            <b-datepicker
                                    placeholder="Click para seleccionar..."
                                    icon="calendar-today"
                                    v-model="reservation.date">
                            </b-datepicker>
                        </b-field>
                    </div>
                    <div class="column is-4">
                        <b-field label="Seleccione la hora de inicio">
                            <b-timepicker
                                    rounded
                                    placeholder="Click para seleccionar..."
                                    icon="clock"
                                    v-model="reservation.hour_start">
                            </b-timepicker>
                        </b-field>
                    </div>
                    <div class="column is-4">
                        <b-field label="Seleccione la hora de entrega">
                            <b-timepicker
                                    rounded
                                    placeholder="Click para seleccionar..."
                                    icon="clock"
                                    v-model="reservation.hour_end">
                            </b-timepicker>
                        </b-field>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-4">
                        <button class="button is-dark is-fullwidth" @click="submit">Reservar</button>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <b-notification type="is-warning" aria-close-label="Close notification" role="alert">
                            Las solicitudes estan sujetas a la disponibidad de las barbacoas. Su orden puede ser tomada por otro usuario ante que usted.
                        </b-notification>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import 'buefy/dist/buefy.css';

    export default {
        props: ['barbecue'],
        data() {
            return {
                reservation: {
                    date: null,
                    hour_start: null,
                    hour_end: null,
                    barbecue: this.barbecue
                }
            }
        },
        methods: {
            async submit() {
                try {
                    await window.axios.post('/reservations', this.reservation);
                    this.$dialog.alert({
                        type: 'is-info',
                        title: 'Reservación',
                        message: 'Felicidades, su reservación esta lista',
                        onConfirm: () => window.location.href = '/'
                    });
                }
                catch (error) {
                    let message = 'Lo Sentimos, ha ocurrido un problema...';
                    if(error.response && error.response.status === 400 && error.response.data.body) {
                        message = error.response.data.body;
                    }

                    this.$dialog.alert({
                        type: 'is-danger',
                        title: 'Reservación',
                        message
                    });
                }
            }
        }
    }
</script>
